@charset "utf-8";

/* CSS Document */
* {
    /*  -webkit-touch-callout: none;  */ /* prevent callout to copy image, etc when tap to hold */
    /*-webkit-text-size-adjust: none; */ /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none; */ /* prevent copy paste, to allow, change 'none' to 'text' */
}
/* CSS Document */
header, footer, aside, section, article, hgroup {
    display: block;
}

body {
    padding: 0;
    margin: 0;
    direction: rtl;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

@font-face {
    font-family: ButtonFont;
    src: url(../fonts/Hacen%20Tehran.ttf);
}

@font-face {
    font-family: join;
    src: url(../fonts/Hacen%20Samra.ttf);
}
/************************search page**********************************/

header {
    height: 22%;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 150;
    background-color: #fff;
}

header h3 {
    margin-top: 0%;
    color: #fff;
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    bottom: 1px;
    margin-bottom: 0%;
    font-size: 14px;
    text-shadow: 0px -1.5px #525051;
    left: 0;
    right: 0;
    margin: 0 auto;
    direction: ltr;
}
.loadingIcon{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top:25%;
    text-align: center;
    z-index: 999;
}
.loadingIcon div{
    position: relative;
    top: 21%;
}
.loadingIcon img{
    width: 15%;
}
.loadingIcon p{       position: relative;
    font-family: bolder;
    font-size: 20px;
    margin: 0;
}
.fav {
    background-image: url(../img/11-copy_03.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 21px;
    position: relative;
    top: -19px;
    left: 3%;
}

.back {
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 34px;
    position: relative;
    right: 73%;
}

.add {
    background-image: url(../img/89_03.png);
    background-repeat: no-repeat;
    width: 20%;
    height: 29px;
    position: relative;
    top: -22px;
    right: 73%;
}

.container {
    width: 88%;
    margin-right: auto;
    margin-left: auto;
}

.select_container {
    background-color: #3d2e2b;
    color: #bbdb59;
    font-size: 108% !important;
    height: 36px;
    font-size: 120%;
    line-height: 200%;
    margin-top: 7%;
    background-image: url(../img/9876_03.png);
    background-repeat: no-repeat;
    background-position: center left;
    overflow: hidden;
}

.choose_country {
    background-image: url(../img/08978_03.png);
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 16%;
    margin-right: 3%;
}

.select_container select {
    background: transparent;
    -webkit-appearance: none;
    float: left;
    height: 100%;
    width: 100%;
    background-image: url(../img/08978_03.png);
    background-position: 99%;
    background-repeat: no-repeat;
    padding-right: 15%;
    margin-right: 3%;
    color: #bbdb59;
    font-size: 100% !important;
}

.select_container option {
    background-color: #3d2e2b;
}

.choose_city {
    background-image: url(../img/08978_06.png) !important;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15%;
}

.offer {
    background-image: url(../img/08978_13.png) !important;
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15%;
}

.search_button {
    border: 1px solid #7c952d;
    color: #fff;
    width: 100%;
    height: 43px;
    margin-top: 7%;
    font-size: 135% !important;
    text-shadow: 0px -1.5px #525051;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #000 0px 0px 1px;
    -moz-box-shadow: #000 0px 0px 1px;
    box-shadow: #000 0px 0px 1px;
    background: #c7e961;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c7e961), to(#95B633));
    background: -webkit-linear-gradient(#c7e961, #95B633);
    background: -moz-linear-gradient(#c7e961, #95B633);
    background: -ms-linear-gradient(#c7e961, #95B633);
    background: -o-linear-gradient(#c7e961, #95B633);
    background: linear-gradient(#c7e961, #95B633);
    -pie-background: linear-gradient(#c7e961, #95B633);
    font-family: ButtonFont;
}

.give_margin {
    position: absolute;
    top: 24%;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
}
/************************************search result*****************************/
.inner_container {
    width: 100%;
    width: 100%;
    margin-top: 52%;
}

.search_nav {
    background-image: url(../img/0_07.png);
    background-repeat: repeat-x;
    height: 8.5%;
    position: fixed;
    width: 100%;
    top: 9%;
    z-index: 10;
}

.search_nav img {
    position: relative;
    top: 12.5%;
    margin-right: 12%;
}

.result_row {
    height: 6%;
    background-color: #9eb25d;
    color: #fff;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 9%;
}

.result_row p {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
}

.course_title {
    background-color: #4f403b;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    height: 26px;
    text-align: center;
}

.course_wrap {
    height: 27.7%;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
    position: relative;
    top: 100px;
    margin-top: 1%;
}

.course_wrap_div1 {
    border-bottom: 1px solid #bbbbbb;
    height: 75%;
    background-image: url(../img/11-copy_39.png);
    background-repeat: no-repeat;
    background-position: 3% 38%;
}

.course_wrap_title {
    background-color: #4f403b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 80%;
    height: 25px;
    color: #fff;
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    margin-right: 3%;
    margin-top: 2%;
    padding-right: 10px;
}

.course_info, .course_info p {
    float: right;
    color: #4e555b;
    font-size: 100%;
    font-weight: bold;
    margin-top: 1%;
}

.course_info {
    margin-right: 3%;
}

.change_col {
    color: #187678 !important;
}

.sec_course_info {
    margin-right: 9%;
}

.course_wrap_div2 {
    height: 25%;
}

.course_price {
    width: 25%;
    height: 21px;
    background-image: url(../img/11-copy_45.png);
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    background-size: 100% 100%;
    line-height: 136%;
    float: right;
}

.course_like {
    background-image: url(../img/11-copy_24.png);
    width: 6.6%;
    float: left;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 8%;
    margin-top: 1%;
}

.course_like_fav {
    background-image: url(../img/11-copy_32.png);
    width: 6.6%;
    float: left;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 8%;
    margin-top: 1%;
}
/*************************************lock page*************************************/
.lock{ width:50.6%; height:214px; background-image:url(../img/0009_03.png); background-repeat:no-repeat; background-position:center; margin-right:auto; margin-left:auto; margin-top:20%;}
.small_lock{    height: 130px;background-size: contain;}
.lock_form{ width:88%; height:35px;margin-right:auto; margin-left:auto; border:2px solid #8aa934; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin-top:4%;}
.registerDiv { width: 100%; text-align: center; position: relative;  top: 70%;	}
#registrationBtn{     width: 50.4%;width: 50.4%;height: 35px;border: medium none; background-color: #8aa934;position: relative;color: white;font-weight: bolder;font-size: 18px;border-radius:5px}
.lock_form button{ width:24.4%; height:35px; background-image:url(../img/75_07.png); background-repeat:no-repeat; float:left; border:medium none; background-color:transparent;border-radius:5px}
.lock_form input{width: 70%;border: medium none;color: #6c6c6c;font-size:90%;padding-right: 2%;padding-top: 2%;}
/*******************************taqwa page******************************/
.course_details {
    background-image: url(../img/pt_06.png);
    background-repeat: repeat;
    height: 41%;
    position: relative;
    top: 36px;
}

.course_details_right {
    float: right;
    width: 60.6%;
}

.course_details_right div {
    width: 100%;
    float: right;
    height: 22px;
    margin-right: 2%;
}

.course_details_right p {
    float: right;
    color: #ffffff;
    padding-right: 2%;
    font-size: 90%;
}

.change_p {
    color: #edaf02 !important;
}

.course_details_left {
    float: left;
    width: 39%;
}

.course_detail_price {
    background-image: url(../img/8786_03.png);
    height: 65px;
    background-repeat: no-repeat;
}

.course_detail_price p {
    transform: rotate(-14deg);
    -ms-transform: rotate(-14deg); /* IE 9 */
    -webkit-transform: rotate(-14deg); /* Safari and Chrome */
    text-shadow: 0px -2px #000;
    color: #fff;
    font-size: 115%;
    float: left;
    position: relative;
    top: 0%;
    left: 1.8%;
    font-weight: bold;
}

.guide_location {
    position: relative;
    top: 10px;
}

.guide_location img {
    float: right;
    margin-left: 15%;
}

.course_details input {
    font-family: join;
    font-size: 130%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #7c952d;
    color: #fff;
    height: 47px;
    margin-top: 7%;
    text-shadow: 0px -1.5px #525051;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: #000 0px 0px 1px;
    -moz-box-shadow: #000 0px 0px 1px;
    box-shadow: #000 0px 0px 1px;
    background: #c7e961;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#c7e961), to(#95B633));
    background: -webkit-linear-gradient(#c7e961, #95B633);
    background: -moz-linear-gradient(#c7e961, #95B633);
    background: -ms-linear-gradient(#c7e961, #95B633);
    background: -o-linear-gradient(#c7e961, #95B633);
    background: linear-gradient(#c7e961, #95B633);
    -pie-background: linear-gradient(#c7e961, #95B633);
    margin-bottom: 4%;
}

.course_bottom {
    background-image: url(../img/98_17.png);
    height: 12.5px;
    position: relative;
    background-repeat: repeat-x;
}

.adv {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.adv h3 {
    margin-right: 1%;
    margin-top: 15%;
}

.adv1 {
    background-image: url(../img/086_03.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.adv1 p {
    padding-right: 18%;
    font-weight: bold;
    font-size: 100%;
    line-height: 138%;
}

.adv2 {
    background-image: url(../img/086_06.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.adv2 p {
    padding-right: 18%;
    font-weight: bold;
    font-size: 90%;
    line-height: 128%;
}
/******************tour programme***********************/
.trip_program {
    height: 9%;
    position: fixed;
    top: 9%;
    width: 100%;
    z-index: 9;
}

#vtab {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

#vtab > ul > li {
    width: 100%;
    height: 14.3%;
    list-style-type: none;
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    border-right: none;
    opacity: 1;
    /*            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
*/
}

#vtab > ul > li > a.schedual {
    background-image: url(../img/ico_03.png)!important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75%;
    position: absolute;
    height: 41%;
    right: 12%;
    top: 25%;
}

#vtab > ul > li > a.prog {
    background-image: url(../img/ico_15.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75%;
    position: absolute;
    height: 41%;
    right: 12%;
    top: 25%;
}

#vtab > ul > li > a.notification {
    background-image: url(../img/ico1_18.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75%;
    position: absolute;
    height: 55%;
    right: 12%;
    top: 25%;
}

.notify_num {
    position: relative;
    top: 64%;
    height: 30%;
    background-image: url(../img/11_11.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 42%;
    right: 21%;
    text-align: center;
}

.notify_num label {
    color: white;
    font-size: 60%;
    position: relative;
    top: 16%;
}

#vtab > ul > li > a.favourite {
    background-image: url(../img/ico_20.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75%;
    position: absolute;
    height: 41%;
    right: 12%;
    top: 25%;
}

#vtab > ul > li > a.Ofolder {
    background-image: url(../img/ico_22.png) !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 75%;
    position: absolute;
    height: 41%;
    right: 12%;
    top: 25%;
}

#vtab > ul > li.selected {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    z-index: 10;
    background-image: url(../img/ico_active_19.png);
    background-size: 100% 100%;
    position: relative;
}

#vtab > ul {
    float: left;
    background-image: url(../img/11_06.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    width: 15.6%;
    height: 100%;
    text-align: right;
    display: block;
    margin: auto 0;
    padding: 0;
    position: fixed;
    top: 17.5%;
    right: 0%;
    z-index: 10;
}

#vtab > div {
    background-color: transparent;
    height: 100%;
    position: absolute;
    right: 15.6%;
    width: 84.4%;
    overflow-y: scroll;
    top: 18%;
}

#vtab > div > h4 {
    color: #800;
    font-size: 1.2em;
    border-bottom: 1px dotted #800;
    padding-top: 5px;
    margin-top: 0;
}

#loginForm label {
    float: left;
    width: 100px;
    text-align: right;
    clear: left;
    margin-right: 15px;
}

#loginForm fieldset {
    border: none;
}

#loginForm fieldset > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

#loginForm #login {
    margin-left: 115px;
}

.prog_header_scroll, .prog_header, .slide_header {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    height: 9%;
    width: 100%;
    z-index: 100;
    top: 9%;
    color: #fff;
    right: 0%;
}

.prog_header_scroll {
    background-image: url(../img/654_03.png);
}

.prog_header {
    background-image: url(../img/11_07.png);
}

.prog_header h5, .prog_header_scroll h5, .slide_header h5 {
    margin: 0;
    float: right;
    line-height: 125%;
    top: 30%;
    position: relative;
    right: 5%;
}

.prog_header h6, .prog_header_scroll h6 {
    width: 75%;
    position: absolute;
    left: -15%;
    line-height: 100%;
    top: -25%;
}

.prog_header_scroll h6 {
    width: 100%;
    position: relative;
    line-height: 100%;
    top: -20%;
    left: -10%;
    text-align: right;
}

.slide_header h6 {
    width: 75%;
    position: absolute;
    left: -18%;
    line-height: 100%;
    top: -25%;
}

.prog_large_container {
    height: 25.3%;
    position: relative;
    margin-bottom: 0%;
    direction: rtl;
    width: 100%;
}

.prog_first_div {
    height: 22%;
    background-color: #e4e4e4;
    color: #3b3b3b;
    font-size: 100%;
    position: relative;
    font-weight: bold;
}

.prog_first_div p {
    width: 78%;
    float: left;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 1%;
    text-align: right;
}

.prog_second_div {
    color: #828282;
    font-size: 80%;
    height: 61.2%;
    font-weight: bold;
    padding-bottom: 2%;
}

.prog_second_div div, .prog_second_div div p {
    float: right;
    margin-bottom: 0%;
    margin-top: 2%;
}

.prog_second_div div {
    margin-right: 6%;
}

.change_p_color {
    color: #3b3b3b;
}
/*.prog_third_div{ height: 31%;position: absolute;width: 100%; top:74%}*/ /******************  omnia  **************/
.refresh_trip {
    height: 71%;
    width: 15%;
    float: right;
}

.refresh_trip a {
    background-image: url(../img/today_11.png);
    background-repeat: no-repeat;
    margin-right: 33%;
    height: 100%;
    background-size: 100% 100%;
    width: 100%;
    float: right;
}

.map_info {
    margin-right: 50%;
}

.map_info img {
    margin-right: 15%;
}

.refresh_trip a:hover, .refresh_trip a:active {
    background-image: url(../img/today_24.png);
    height: 100%;
}

.now {
    background-image: url(../img/today_03.png);
    background-repeat: no-repeat;
    width: 20.3%;
    height: 75%;
    position: absolute;
    background-position: center right;
    background-size: 100% 100%;
    top: 12.5%;
}

.next {
    background-image: url(../img/today_17.png);
    background-repeat: no-repeat;
    width: 20.3%;
    height: 75%;
    position: absolute;
    background-position: center right;
    background-size: 100% 100%;
    top: 12.5%;
}

.only_p {
    width: 98% !important;
}
/******guide tab***********/
.daleelWrapper{
    display: none; position: absolute;
    top: 25%;
    width: 100%;
    /*height: 100%;*/
}
.large_guide {
    height: 11%;
    border-bottom: 1px solid #bbbbbb;
    margin-top: 1%;
}

.large_guide p {
    width: 15%;
    float: right;
    color: #525252;
    font-size: 100%;
    font-weight: bold;
    margin-top: 2.5%;
    margin-bottom: 0%;
    margin-right: 7%;
}

.large_guide div {
    margin-right: 5%;
    width: 50%;
    height: 100%;
    float: left;
    margin-top: 1%;
}

.large_guide img {
    margin-right: 10%;
    float: right;
}
/*************advantages tab************/
.momayazatWrapper{
    display: none; position: absolute;
    top: 25%;
    width: 100%;
    /*height: 100%;*/
}
.advantage_large {
}

.advantage_large p {
    color: #5b5b5b;
    font-size: 90%;
    margin-right: 5%;
    font-weight: bold;
    line-height: 160%;
}

.advantage_large a {
    font-size: 120%;
    color: #3b3b3b;
    background-color: #e4e4e4;
    line-height: 130%;
    font-weight: bold;
    padding-right: 6%;
    padding-left: 94%;
    line-height: 150%;
    padding-top: 5%;
    padding-bottom: 1%;
}

.advantage_large_header {
    background-color: #e4e4e4;
    line-height: 150%;
    font-weight: bold;
    width: 100%;
}

.large_header {
    color: #3b3b3b;
    background-color: #e4e4e4;
    height: 30%;
    font-weight: bold;
}
/********alert tab*******/
.notificationWrapper{
    display: none; position: absolute;
    top: 25%;
    width: 100%;
    /*height: 100%;*/
}
.alert {
    height: 10%;
    border-bottom: 1px solid #d9d9d9;
    color: #525252;
    background-image: url(../img/11-copy_39.png);
    background-repeat: no-repeat;
    background-position: 1% 2%;
    padding: 0% 4%;
    font-size: 80%;
    font-weight: bold;
}

.map {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    right: 0%;
}

.guideMe {
    height: 50px;
    width: 57%;
    background-color: #869258;
    position: absolute;
    top: 66%;
    border-radius: 10px;
    margin-right: 5%;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
}
/*********  detectMeWrapper ****/
.detectMeWrapper{
    display: none; position: absolute;
    top: 25%;
    width: 100%;
    /*height: 100%;*/
}
.detectMeText{
    height: 10%;
    text-align: center;
    color: #525252;
    padding: 0% 4%;
    font-size: 110%;
    font-weight: bold;
    margin-top: 35%;
}
/********hejj page*******/

/******************tour programme***********************/
/*.trip_program{background-image: url(../img/654_03.png);background-repeat: no-repeat;height: 9%;position: fixed;top: 9%;width: 100%;background-size: 100% 100%;z-index: 9;}*/
#Htab {
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

#Htab > ul > li {
    width: 33.3%;
    height: 100%;
    list-style-type: none;
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    position: relative;
    border-right: none;
    opacity: 1;
    float: right;
    background-repeat: no-repeat;
    background-position: center top;
    /*            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
*/
}

#Htab > ul > li a, #Htab > ul > li a:hover {
    color: #fff;
    text-decoration: none;
    font-size: 110%;
    line-height: 200%;
}

#Htab > ul > li.selected {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    z-index: 10;
    background-image: url(../img/11-copy00_03.png);
    background-size: 100% 100%;
    position: relative;
}

#Htab > ul {
    background-image: url(../img/8776_03.png);
    background-repeat: repeat-x;
    height: 11%;
    position: fixed;
    top: 9%;
    width: 100%;
    z-index: 100;
    text-align: right;
    display: block;
    margin: auto 0;
    padding: 0;
}

#Htab > div {
    background-color: transparent;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
    top: 23%;
}

#Htab > div > h4 {
    color: #800;
    font-size: 1.2em;
    border-bottom: 1px dotted #800;
    padding-top: 5px;
    margin-top: 0;
}

#loginForm label {
    float: left;
    width: 100px;
    text-align: right;
    clear: left;
    margin-right: 15px;
}

#loginForm fieldset {
    border: none;
}

#loginForm fieldset > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

#loginForm #login {
    margin-left: 115px;
}
/***********************************/
.memory_pic_container {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

.memory_word {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background: #e6e6e6;
    margin-top: 2%;
}

.memory_word img {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}

.memory_word p {
    width: 70%;
    float: left;
    color: #696969;
    font-size: 80%;
    margin-left: 1%;
}

.memory_pic_container img {
    width: 100%;
    height: 31%;
}

.memory_nivaigation {
    height: 6.2%;
    background: #e6e6e6;
}

.memory_nivaigation p {
    color: #aeaeae;
    margin-bottom: 1%;
    margin-top: 2%;
    font-size: 80%;
    text-align: center !important;
    line-height: 170%;
    width: 90%;
    font-weight: bold;
}

.memory_nivaigation ul {
    margin-top: 0%;
    margin-bottom: 0%;
}

.memory_nivaigation li {
    position: relative;
    width: 24%;
    float: right;
    list-style: none;
    border-left: 1px solid #fff;
}

.memory_nivaigation img {
    width: 110.2%;
    height: 180%;
    margin-top: -72%;
    position: relative;
    right: -52%;
    margin-right: 0%;
}

.navigation_like {
    width: 40%;
    float: right;
}

.navigation_like button {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_24.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 13px;
    float: right;
    margin-right: 20%;
    background-position: center right;
    top: 60%;
    margin-top: 30%;
}

.navigation_like_true button {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_39.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 13px;
    float: right;
    margin-right: 20%;
    background-position: center right;
    top: 60%;
    margin-top: 30%;
}

.navigation_comment {
    width: 45%;
    float: left;
}

.navigation_comment button {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_37.png);
    width: 100%;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 30%;
    margin-left: 40%;
}

.navigation_comment button:hover {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_22.png);
    width: 100%;
    height: 13px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 30%;
    margin-left: 40%;
}

.facebook_share {
    width: 40%;
    float: right;
    margin-bottom: 2%;
}

.facebook_share button {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_19.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 18px;
    float: right;
    margin-right: 20%;
    background-position: center right;
    top: 60%;
    margin-top: 20%;
}

.facebook_share button:hover, .facebook_share button:active {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_19.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 18px;
    float: right;
    margin-right: 20%;
    background-position: center right;
    top: 60%;
    margin-top: 20%;
}

.twitter_share {
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

.twitter_share button {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_17.png);
    width: 100%;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 20%;
    margin-left: 40%;
}

.twitter_share_widget {
    width: 45%;
    float: left;
    margin-bottom: 2%;
}

.twitter_share_widget a {
    background-color: transparent !important;
    border: medium none !important;
    background-image: none !important;
}

.twitter_share button:hover {
    background-color: transparent;
    border: medium none;
    background-image: url(../img/984_17.png);
    width: 100%;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center right;
    margin-top: 20%;
    margin-left: 40%;
}

.no_border_left {
    border-left: none !important;
}
/******************tabs sliding*****************/
#wrapper {
    overflow: hidden;
    background-color: transparent;
    direction: ltr; /*margin-right: auto;margin-left: auto;*/
    margin-right: 33%;
}

#wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: -webkit-transform 0.3s linear;
}

#wrapper ul li {
    float: left;
    width: 20%;
    height: 100%;
    padding: 0px !important;
}

#wrapper ul li img {
    width: 304px !important;
    height: 171px !important;
    position: relative;
    top: -30px;
    left: 0px;
}

.gallery_des {
    position: relative;
    top: -30px;
    width: 304px;
    padding-right: 1%;
    background-color: #6f6c6c;
    border-bottom: 4px solid #000;
    height: 49px;
    z-index: 1;
}

.gallery_des p {
    margin-right: 2%;
}

#wrapper ul li a, #wrapper ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.pagination {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    top: -34px;
    z-index: 130;
    text-align: center;
    margin-bottom: -5%;
}
/*********************/
.campaign_more {
    color: #95ab56;
    font-size: 108%;
    font-weight: bold;
    float: left;
    margin-top: 35%;
    margin-left: 3%;
}
/********map down************/
.map_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);;
    position: absolute;
    top: 0%;
    display: none;
    background-size: 100% 100%;
    z-index: 100000;
}

.map_close {
    background-image: url(../img/close.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 31px;
    float: right;
    top: 10%;
    position: absolute;
    right: 2%;
    z-index: 100;
}

.map2 {
    width: 90%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    top: 12%;
    z-index: -.5;
    position: relative;
}
/****************************/
.notification_detail {
    width: 80%;
    height: 75%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    top: 21%;
    position: absolute;
    right: 10%;
    padding: 20px;
    margin: 0 auto;
}

.notification_detail p {
    padding-right: 2%;
    padding-left: 2%;
}

.notification_detail .map_close {
    top: -4%;
}

.notification_container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);;
    position: absolute;
    top: 0%;
    display: none;
    z-index: 1000;
}



/*========================== search result style ====================*/
.searchResultsWrapper{
    position: absolute;
    top: 25%;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 20px;
}
.searchResultsHeader{
    padding: 7px 0;
    text-align: center;
    color: #fff;
    background-color: #23B1B0;
    margin-bottom: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 20px;
    font-weight: bold;
}

.resultsItem{
    background-color: #ededed;
    border-radius: 10px;
    width: 99%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.campaignNameAndLocation{
    font-size: 0;
    direction: rtl;
    border-bottom: 1px solid #C8C7C7;

}
.campaignLocation{
    width: 56%;
    display: inline-block;
    padding: 2%;
    vertical-align: top;
}
.campaignCountry{
    font-size: 18px;
    display: block;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
}
.campaignCountry:before{
    content:'o';
    color:#14B0AD;
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
    vertical-align: top;
}
.campaignCity{
    font-size: 18px;
    font-weight: bold;
}
.campaignCity:before{
    content:'o';
    color:#14B0AD ;content: 'o';      color: #14B0AD;      font-weight: normal;      font-size: 16px;      margin-left: 5px;      vertical-align: top;
}

.campaignFav{
    width: 15%;
    display: inline-block;
    padding: 2% 0;
    text-align: center;
    vertical-align: top;
}
.campaignFav label{
    font-size: 33px;
    width: 100%;
    display: block;
}
.campaignFav i{
    color: #969495;
}

i.checked{
    color: rgb(35, 177, 176);
}

.campaignName{
    width: 28%;      display: inline-block;
    background-color: #5B5B5B;
    text-align: center;
    padding: 2%;
    border-top-right-radius: 10px;
}
.campaignName label{
    font-size: 24px;
    color: #fff;
    text-align: center;
    display: block;
}

.TransDistanceAndCost{
    font-size: 0;
    direction: rtl;
}
.campaignTransportation{
    width: 36%;
    display: inline-block;
    font-size: 18px;
    vertical-align: text-bottom;
    padding: 2% 0;
    height: 75px;
    padding-right: 3%;
    border-right: 1px solid #ccc;
}
.transMean{
    display: block;
    font-size: 17px;
    font-weight: bold;
}
.transMean i{
    font-size: 16px;
    margin-left: 10px;
    color: #23B1B0;
}

.campaignDistance{
    width: 36%;      display: inline-block;
    font-size: 16px;
    text-align: center;
    vertical-align: text-bottom;
    padding: 2% 0;
    height: 75px;
}
.distanceFrom{
    font-weight: bold;
    display: block;
    font-size: 17px;
}
.distanceInKm{

}
.campaignCost{
    width: 28%;
    font-size: 16px;
    display: inline-block;
    background-color: #23B1B0;      text-align: center;
    height: 75px;
    border-bottom-right-radius: 10px;
    color: #fff;
    padding: 2% 0;
    vertical-align: top;
}
.costInNumbers{
    display: block;
    font-size: 24px;      color: #fff;      text-align: center;      display: block;
}
.costCurrency{
    font-size: 18px;      color: #fff;      text-align: center;      display: block;
    font-weight: bold;
    line-height: 29px;
}
div,a{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.seeMoreWrapper{
    width: 100%;
    background-color: #ededed;
    padding: 14px 14px;
    direction: rtl;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 15px;
    display: none;
}
.seeMoreBtn{
    direction: rtl;
    background-color: #23B1B0;
    color: #fff;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}
.seeMoreBtn i{
    font-weight: normal;
}

.seeMoreBtn:active{
    background-color: #1b8a89;
}
.backIcon{
    float:left;
    color:#fff;
    font-size: 26px;
    width: 11%;
    height: 44px;
    text-align: center;
    margin-top: 4px;
    padding-top: 10px;
    margin-left: 1%;
}
.allFavIcon{
    float:left;
    color:#fff;
    font-size: 30px;
    width: 11%;
    height: 44px;
    text-align: center;
    margin-top: 1px;
    padding-top: 10px;
    margin-left: 1%;
}




/*========================== campaign  Details style ====================*/
.campaignDetailsWrapper{
    position: absolute;
    top: 25%;
    width: 96%;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
}
.campaignDetailsHeader{
    font-size: 0;

    background-color: #5B5B5B;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 90px;
}
.campaignDetailsFav{
    width: 14%;

    display: inline-block;
    position: relative;
    height: 100%;
}
.campaignDetailsFav a{
    font-size: 31px;

    color: white;
    height: 38px;
    display: block;
    padding-top: 0;
    text-align: center;
    border-right: 1px solid #fff;
}
.campaignDetailsFav i{

}
.campaignDetailsInfo{
    width: 58%;

    display: inline-block;
    padding-right: 3%;
    padding-top: 10px;
}
.campaignDetailsInfo .campaignName{
    width: 100%;

    text-align: right;
}
.campaignDetailsInfo .campaignName label{
    display: inline-block;

    margin-left: 7px;
    line-height: 20px;
    font-size: 22px;
}
.campaignDetailsInfo .campaignName label.campaignRealName{
    font-size: 26px;

}
.campaignDetailsInfo .campaignCountry{
    line-height: 20px;

    font-size: 16px;
}
.campaignDetailsInfo .campaignCity{
    color: #fff;

    font-size: 16px;
}
.campaignDetailsHeader .campaignCost{
    border-top-right-radius: 10px;

    border-bottom-right-radius: 0px;
    height: 100%;
    padding-top: 15px;
}
.campaignDetailsHeader .campaignCost .costInNumbers{

}
.campaignDetailsHeader .campaignCost .costCurrency{

}
.distanceAndTrainDetails{
    padding: 0;

    border-bottom: 1px solid #ccc;
}
.distanceAndTrainDetails table{
    width: 100%;

}
.distanceAndTrainDetails table tr{
    height: 20px;

}
.distanceAndTrainDetails table td{
    font-size: 15px;

    padding-right: 3%;
    font-weight: bold;
    color: #5B5B5B;
}
.distanceAndTrainDetails table td:nth-child(1){
    width: 28%;

    border-left: 1px solid #ccc;
    padding: 1.3% 2%;
    font-weight: bold;
    color: #5B5B5B;
}
.distanceAndTrainDetails table td i{
    color: #23B1B0
}
.signInNow{
    display: block;
    width: 54%;
    margin: 15px auto;
    text-align: center;
    padding: 10px 10px;
    background-color: #C4D433;
    color: #5B5B5B;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}

.signInNow:active {
    background-color: #8f9e28;
}


.campaignFeatures{
    padding: 10px 2%;

}
.campaignFeaturesHeader{
    color: #5B5B5B;

    font-weight: bold;
    font-size: 18px;
}
.featuresItems{
    padding-right: 6%;

}
.featureItem{
    line-height: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    color: #5B5B5B;
    font-size: 16px;
    font-weight: bold;
}
.featureItem:before{
    content:'o';
    color:#14B0AD;
    font-weight: normal;
    font-size: 16px;
    margin-left: 4px;
    vertical-align: top;
    margin-right: -15px;
}

/*==================== dashboard style ===========*/
.dashboardWrapper{
    display: none;
    position: absolute;
    top:26%;
    padding-bottom: 40px;
    right: 0%;
    left: 0%;
    margin: 0 auto;
    width: 100%;
    font-size: 0;
    direction: ltr;
}
.dashboardItem{
    width: 50%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.dashboardItem img{
    width: 50%;
}
.dashboardItem:active{
    background-color: #ededed;
}


/*=================== table style =====================*/
.tableWrapper{
    display: block; position: absolute;
    top: 27%;
    width: 100%;
    height: auto;
    overflow: visible;
}
.activitiesOnSingleDay{

}
.tableActivity{
    font-size: 0;

    direction: ltr;
    border-bottom: 1px solid #ccc;
}
.activityItem{
    font-size: 17px;

    width: 45%;      display: inline-block;
    padding: 11px 0;
    text-align: right;
    direction: rtl;
}
.activityItem span{
    color: #555;

    font-size: 18px;
    /* display: inline-block; */
    /* width: 50%; */
}
.timeAndInCharge{
    width: 45%;

    display: inline-block;
    padding: 0 4%;
    /* vertical-align: middle; */
}
.activityTime{
    direction: rtl;

}
.activityItem .activityActualAmount{
    color: #22AAA8;

    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
}
.activityInCharge{

}
.activityLocation{

}
.activityGroup{

}
.activityIndex{
    width: 10%;      display: inline-block;

    text-align: center;
    vertical-align: top;
    padding: 0;
    font-weight: bold;
}
.activityIndex span{

}

.locationInfo{
    border-right: 1px solid #ccc;

    padding: 3px 4% 20px 4%;
    height: 86%;
}
.activityWhereTo{
    font-weight: bold;

    color: #444;
    font-size: 19px;
    margin-bottom: 10px;
    display: block;
}
.slick-dots{
    background-image: url("../img/sliderFooter.png");    bottom: 0;
    position: fixed;
    background-size: cover;
    width: 100%;
    margin-bottom: 0;;
    background-position: 50% 100%;
    height: 8%;
}
.slick-dots li button:before {
    font-size: 29px;
    color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    opacity: 1;
    line-height: 9px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    bottom: -70%;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    border: 0 none;
}
.hamlaName{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 42%;
    color:#555;
}
